<div class="row">
    <div class="col-md-10 blog-main">
      <div class="blog-post mt-4">
        <h1 class="blog-post-title border-bottom">{{delivery.id}}</h1>
        <p class="blog-post-meta">{{delivery.date | date: 'dd-MM-yyyy'}}  </p>
        <p>{{delivery.fname}}</p>
        <blockquote>
          <h2>จำนวนรายการอาหารทั้งหมด</h2>
          <p>{{delivery.lname}}</p>
        </blockquote>
        <h2>จำนวนเงินทั้งหมด</h2>
        <p>{{delivery.tel}}</p>
      </div>
    </div>
    <div class="col-md-2">
  
    </div>
  </div>