<div class="animated fadeIn">
  <div class="flex-container">
    <div *ngIf="isLoad" class="wrap-loading">
      <div class="loading loading-1"></div>
    </div>
    <flash-messages></flash-messages>
  </div>
  <div class="flex-container2">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-start">
          <button type="button" class="btn btn-light" style="margin-left: 0.5em;">
            <a target="_blank" href="/promotion">
              <i class="icon-home icons font-2xl "></i>
            </a>
          </button>
          <h5 style="margin-left: 3em; margin-top: 0.5em;">เข้าสู่ระบบ
            <Span class="text-info">Admin</Span>
          </h5>
        </div>
      </div>
      <div class="card-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="icon-envelope"></i>
            </span>
          </div>
          <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control" placeholder="Email">
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="icon-lock"></i>
            </span>
          </div>
          <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control" placeholder="Password">
        </div>
        <div class="row">
          <div class="col-4">
            <button type="submit" disabled={{isdisabled}} class="btn btn-primary px-4 " (click)="onSignIn()">เข้าสู่ระบบ
            </button>
          </div>
          <div class="col-8  text-right">
            <button type="button" class="btn btn-link px-0" routerLink="#">ลืมรหัสผ่าน</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-link px-0" routerLink="/signup">สมัครสมาชิก</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>