<div class="animated fadeIn">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">food
      <span class="text-danger"> shop</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="./order">รายการสั่งอาหาร</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./delivery">ข้อมูลการจัดส่ง</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./food">ข้อมูลอาหาร</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./user">ข้อมูลลูกค้า</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./admin-list">ข้อมูลผู้ดูแลระบบ</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./profile">ข้อมูลส่วนตัว</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span class="nav-link">{{userEmail}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin" (click)="signOut()">ออกจากระบบ</a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>